.logoMain{
  max-width: 15em;
  /*padding-top: 15px;*/
  /*margin-left: 350px;*/
}

/*.image_container_img img {
  max-width: 18.7em !important;
  max-height: 15em;
  overflow: hidden;

}*/

.cmsms_our_team_wrap {
    position: relative;
    overflow: visible;
    margin-top: 55px;
}
.wrap_person {
    position: relative;
}

#main article .image_container_img img {
    height: 188px;
}
#main article img {
    height: auto;
    max-width: 100%;
}
img {
    vertical-align: middle;
    border: 0;
}
.cmsms_header_wrap {
    border: 1px solid #e0e0e0;
    background-color: #fcfcfc;
    padding-bottom: 20px;
    margin-bottom: 25px;
}
.header-entry {
    position: relative;
    z-index: 10;
    margin: -35px 5% 0;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #e0e0e0;
}
.cmsms_our_team_wrap .person_subtitle {
    padding: 0;
    color: #a02209;
    font-size: 12px;
}

p.person_subtitle {
    text-align: center;
}

.cmsms_our_team_wrap .entry-content {
    font-family: times new roman,times;
    padding: 20px;
    text-align: center;
}

.cmsms_profile_button {
    text-align: center;
}

.more-button {
    font-family: 'Playfair Display',serif;
    font-size: 13px;
    color: #fff;
    background: #A0260D;
    display: inline-block;
    border-radius: 2px;
    padding: 9px 24px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
a {
    font-family: 'Playfair Display',Calibri,AppleGothic,'MgOpen Modata',sans-serif !important;
    font-weight: bold !important;
}
a {
    color: #a02209;
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
    -ms-transition: color .2s ease-out;
    -o-transition: color .2s ease-out;
    transition: color .2s ease-out;
}
a {
    background-color: transparent;
}



.mapOverlay {
  background:transparent;
  position:relative;
  width:640px; /* your iframe width */
  height:480px; /* your iframe height */
  top:480px; /* your iframe height */
  margin-top:-480px; /* your iframe height */
}

.navbar{
  min-height: 100px !important;
}
.navbar-default {
  background-color: #FFF;
  border-color: #b6bbc2;
  border-bottom-width: 3px;
}

#rectangle{
  width: 40em;
  height: 100px;
  background: #570b00;
  color:#FFF;
  text-align: center;
  clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 0, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 0, 0 0);
  -o-clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 0, 0 0);
  -ms-clip-path: polygon(100% 0, 100% 100%, 15% 100%, 0 0, 0 0);
}

body {
  padding-top: 135px !important;
  background-color: #f6f6f6;
}




/*---- Top bar ----*/

#top-bar {
  background: #590b00;
  padding: 0;
}
.somePadding {
    padding: 10px 0 10px 0;
}

.fa-phone {
  color: #FFF  !important;
}

/* Top social */

.top-social{
  border-left: 1px solid #450c0e;
}

.top-social a{
  margin-left: -4px;
}

.top-social a i {
  border-right: 1px solid #450c0e;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  display: inline-block !important;
  -webkit-transition: color .2s ease-in;
  transition: color .2s ease-in;
}

.top-social a i.fa-facebook {
  color: #FFF;
}

.top-social a i.fa-twitter {
  color: #FFF;
}

.top-social a i.fa-google-plus {
  color: #FFF;
}

.top-social a i.fa-youtube {
  color: #9d261d;
}

.top-social a i.fa-linkedin {
  color: #3daccf;
}

.top-social i:hover{
  color: #fff !important;
}

.top-social i.fa-facebook:hover {
  background: #5d82d1;
}

.top-social i.fa-twitter:hover {
  background: #70c2e9;
}

.top-social i.fa-google-plus:hover {
  background: #eb5e4c;
}

.top-social i.fa-youtube:hover {
  background: #9d261d;
}

.top-social i.fa-linkedin:hover {
  background: #3daccf;
}


/* Top info */

ul.top-info{
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

ul.top-info li{
  float: left;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 10px;
  font-weight: 700;
}

.linksToStuff{
  /*background: rgba(87, 11, 0, 0.7);
  color: #FFF;
  min-height: 50px;
  text-align: center;*/


  color: #000 !important;
  min-height: 50px;
  text-align: center;
  z-index: 5;
  padding-top: 1em;
  padding-left: 15em;
}

.linksToStuff a{
  color: #000;
  text-decoration: none;
  padding-right: 25px;
  cursor: pointer;
}

.theLinks{
  font-family: 'Playfair Display', Verdana, Geneva, 'DejaVu Sans', sans-serif;
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 17px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: 30em;
  object-fit: cover;

}

.awards{
  background-color: #FFF;
}

.blockOfText{
  text-align: center;
  /*background: #FFF !important;*/
}

.blockOfText h2{
  font-family: 'Playfair Display', Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 28px;
  color: #570b00;
  /*font-weight: bold;*/
}

.blockOfText p{
  font-size: 17px;
  font-weight: normal;
}

.textContainer{
  margin-top: 1em;
  text-align: justify;
  font-family: Verdana,Geneva,sans-serif;
  font-size: 13px;
  color: #7e7e7e;
  line-height: 1.42857143;
}

.padd-btm{
  padding-bottom: 5em;
}

.callToAction{
  background: #b6bbc2;
  text-align: center;

}

.callToAction h2{
  font-family: 'Playfair Display', Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 30px;
  color: #570b00;
  font-weight: bold;
}

.blueItalics{
  color:#0d004d!important;
  font-style: italic;
}

.btn-primary{
  background: #0d004d !important;
  border: #FFF 2px solid !important;
  color: #FFF !important;
}

.parallaxTest{
  background: url('http://mermanlawfirm.com/wp-content/uploads/2016/12/UpdateDowntown_BG_1_bk.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgwOverlay{
  min-height: 250px;
}

.parallaxTest h2{
  color: #FFF;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);

}

.contactPart h2{
  font-family: 'Playfair Display', Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 30px;
  color: #570b00;
  font-weight: bold;
}

.formStuffs {
  max-width: 75%;
}

.contactText{
  font-family: 'Playfair Display', Verdana, Geneva, 'DejaVu Sans', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: bold;
}

.contactText {
  text-align:right;}

  .contactText a{
    text-decoration: none !important;
    color: #000 !important;

  }

  .zeFooter{
    background: #5b0c00;
    min-height: 100px;
  }

  .footerText{
    color: #8d8d8d;
    font-size: 13px;
    text-decoration: none;
    padding-top: 15px;
  }

  .footerText a{
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
  }


  .iconSection{
    background: #FFF !important;

  }

  .starText{
    font-family: 'Playfair Display', Verdana, Geneva, 'DejaVu Sans', sans-serif;
    font-size: 20px !important;
    font-weight: bold !important;
    color: #570b00;
  }

  .iconsThemselves{
    max-height: 15em;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  /*Owl*/
  /*Owl*/
  /*Owl*/
  /*Owl*/
  /*Owl*/
  /*Owl*/
  /*Owl*/
  article {
    margin: 20px auto;
    width: 50%;
    padding: 1em;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    color:#FFF;
  }


  .quote {
    background: rgba(255,255,255,0);
    padding: 15px 20px 5px 15px;
    border-radius: 5px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 30px;
  }

  .student {
    margin-left: 25px;
    margin-bottom: 80px;
  }

  .student p {
    position: relative;
    top: 5px;
    text-transform: uppercase;
  }

  .student p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
  }

  .student p:nth-child(3) {
    font-size: 14px;
    color: #777;
  }


  .mobileShow { display: none;}
  /* Smartphone Portrait and Landscape */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){ .mobileShow { display: inline;}}


  .mobileHide { display: inline;}
  /* Smartphone Portrait and Landscape */
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){  .mobileHide { display: none;}}


  /*Mobile CSS*/
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){
    .ctaNav {
      margin-top: 10px;
      /*margin-right: 17em;*/
    }

    div#navbar1 {
    padding-top: 25px;
    margin-right: 15%;
}

.logoMain{
  /*margin-right: 20%;*/
}

/*.image_container_img img {
  max-width: 24.7em !important;
  max-height: 15em;
  overflow: hidden;

}*/

    .linksToStuff.pull-right {
      float: none !important;
    }

    .linksToStuff {
      padding-top: 5em !important;
    }

    #rectangle {
      width: 70em !important;
    }

    body{
      padding-top: 190px !important;
    }

    .contactText{
      text-align:center!important;
    }

    .formStuffs {
      max-width: 100%!important;
    }


    .cPart2{
      text-align: center !important;
    }

    .logoMain{
      margin-left: 125% !important;
    }

    .paddBottomMobile{
      margin-bottom: 2em;
    }


    .boxesBottom{
      background: #FFF;
      margin: 25px 50px 0 0 !important;
    }

    .changingImages{
      width: 430px !important;
      height: 343px !important;
    }

  }
  /*DesktopCSS*/
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    #rectangle {
      width: 70em;
    }




  }


  @media only screen
  and (min-width : 1224px) {
    .linksToStuff{
      padding-left: 2em !important;
    }


    #rectangle {
      width: 23em;
    }

    #rectangle h3{
      font-size: 15px;
      padding-top: 15px;
    }

  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 1024px) {

    .linksToStuff{
      padding-left: 1em !important;
    }

    #rectangle {
      width: 16em;
    }
    #rectangle h3{
      font-size: 15px;
      padding-top: 5px;
    }
    .tab-link {
      padding: 14px !important;
      font-size: 15px !important;
    }

    .boxesBottom {
    margin: 25px 0px 0 0 !important;
}

  .image_container_img img {
    width: 24.7em !important;
    height: 15em;
    overflow: hidden;

  }

}



  .videoWrapper {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;
  }
  .videoWrapper iframe {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }

  .practiceAreaSection{
    padding: 25px 0 25px 0;

  }

  .practiceAreaSection img{
    border-radius: 2px;
  }

  .practiceTab{
    padding-bottom: 25px;
  }


  /*a:focus, a:hover {
  color: #570b00 !important;
}
a {
color: #221386 !important;
}*/




.featured_block {
  position: relative;
  display: table;
  overflow: hidden;
  margin-bottom: 18px;
  width: 100%;
  border: 1px solid #e0e0e0;
}
.featured_content {
  position: relative;
  display: table-cell;
  overflow: hidden;
  padding: 35px;
  background-color: #fcfcfc;
  vertical-align: middle;
  text-align: left;
}

.featured_button {
  position: relative;
  display: table-cell;
  border-left: 1px solid #e0e0e0;
  background-color: #fff;
  vertical-align: middle;
}
.featured_button_inner {
  position: relative;
  padding: 35px 40px;
  text-align: center;
}

.button_large {
  padding: 0 30px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
}
.more-button {
  font-family: 'Playfair Display',serif;
  font-size: 18px;
  color: #fff !important;
  background: #A0260D;
  display: inline-block;
  border-radius: 2px;
  padding: 0px 25px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}


.more-button2 {
  font-family: 'Playfair Display',serif;
  font-size: 18px;
  color: #fff !important;
  background: #A0260D;
  display: inline-block;
  border-radius: 2px;
  padding: 10px 25px;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}


.boxesBottom{
  background: #FFF;
  margin: 25px 5px 0 0;
  padding: 25px;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
  max-width: 20em;
  text-align: justify;
}

/*


*/
/*Panel tabs*/
.panel-tabs {
  position: relative;
  bottom: 30px;
  clear:both;
  border-bottom: 1px solid transparent;
}

.panel-tabs > li {
  float: left;
  margin-bottom: -1px;
}

.panel-tabs > li > a {
  margin-right: 2px;
  margin-top: 4px;
  line-height: .85;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  color: #ffffff;
}

.panel-tabs > li > a:hover {
  border-color: transparent;
  color: #ffffff;
  background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
  color: #fff;
  cursor: default;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(255,255,255, .23);
  border-bottom-color: transparent;
}





.changingImages{
  display: none;
  /*max-width: 100%;*/
  padding-top: 70px;
  width: 527px;
  height: 420px;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.ulServices {
  color: #333333 !important;
  font-weight: 700;
  font-size: 15px;
  /*padding: 50px 0 0 0;*/
}

.ulServices a {
  color: #333333 !important;

}


.ulServices ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}


.imageChangesSection{
  margin: 25px 0 25px 0;
}


.testimonialVids{
  margin: 25px 0 0 0;
}
